<div>
  <button hover class="m-3" routerLink="form" *ngIf="isAuthenticated">Reactive Form</button>
  <button hover class="m-3" routerLink="http" *ngIf="isAuthenticated">HTTP</button>
  <button hover class="m-3" routerLink="auth" *ngIf="!isAuthenticated">Authenticate</button>
  <button hover class="m-3" routerLink="auth" (click)="logout()" *ngIf="isAuthenticated">LogOut</button>
  <button better-hover class="m-3" routerLink="form-learn" [highlightColor]="'red'" *ngIf="isAuthenticated">Template Driven Form</button>
  <router-outlet></router-outlet>
</div>
